<mat-sidenav-container>

    <mat-sidenav opened>
        mat-sidenav
        <mat-sidenav-content>

            <button mat-raise-button>Mostrar menu lateral</button>
        </mat-sidenav-content>
    </mat-sidenav>


</mat-sidenav-container>