<div [formGroup]="form" class="container">
    <div class="tittle mat-display-1">Registrarse</div>

    <mat-progress-spinner value="50"></mat-progress-spinner>

    <div class="foto-perfil">

        <button (click)="uploadData()" mat-raised-button color="primary">Subir foto</button>
    </div>

    <mat-spinner *ngIf="uploading"></mat-spinner>

    <div class="nombre default">
        <mat-form-field appearance="standard">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="(ej: Juan)" [formControl]="inputControl">
        </mat-form-field>
    </div>
    <div class="apellido default">
        <mat-form-field appearance="standard">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" placeholder="(ej: Perez)" [formControl]="inputControl">
        </mat-form-field>
    </div>

    <div class="genero">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="genero(1)">Masculino</button>
            <button mat-menu-item (click)="genero(2)">Femenino</button>
        </mat-menu>
        <button mat-raised-button [matMenuTriggerFor]="appMenu">{{gen}}</button>
    </div>

    <!-- telefono input -->
    <div class="telefono default">
        <mat-form-field appearance="Fill">
            <mat-label>Telefono</mat-label>
            <input matInput type="text" placeholder="(ej: Perez)" [formControl]="inputControl">

        </mat-form-field>
    </div>

    <!-- boton -->
    <div class="aceptar">
        <button (click)="newNotification()" mat-raised-button color="primary">Aceptar</button>
    </div>

    <!-- toggle buttton -->
    <div class="boletin" style="margin-top: 5rem;">
        <div class="mat-caption">Deseo recibir ofertas en mi correo electronico</div>
        <mat-button-toggle checked disableRipple #toggleBtn>{{toggleBtn.checked? 'Activado' : 'Desactivado'}}</mat-button-toggle>
    </div>


    <!--    iconos 
    https://fonts.google.com/icons 
-->
    <div class="icono">
        <ng-container *ngIf="toggleBtn.checked == true; then code else comment"></ng-container>
        <ng-template #code>
            <mat-icon color="primary">code</mat-icon>
        </ng-template>
        <ng-template #comment>
            <mat-icon color="warn">code_off</mat-icon>
        </ng-template>

    </div>

</div>

<app-side-nav></app-side-nav>