<mat-toolbar class="navbar">
    <div> Pruebas con materiales</div>

    <div>
        <a routerLink="formulario"> Ir al formulario</a>
    </div>

    <div>
        <a href="\\">
            <span>
                <!--    [matbadge] indica que se hara un property binding al parametro matBadge de este modo cambiara cuando queramos -->
                   <mat-icon color="primary">circle_notifications <span  [matBadgeHidden]="notify === 0" matBadgeColor="warn" [matBadge]="notify"></span></mat-icon>

            </span>
        </a>

    </div>

</mat-toolbar>